*{
  padding: 0px;
  margin: 0px;
}
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.container{
  height: 93vh;
}
.iphone{
  height: 80vh;
  width: auto;
}
.iphone-download{
  display: flex;
  align-items: center;
  gap: 4px;
}
.section-2{
  height: 35vh;
}
.section-3{
  height: 60vh;
}
.play-download{
  margin-left: 5px;
}
.dog{
  width: 50px;
  height: 50px;
}
#dog-img{
  margin-top: 50px;
  border-radius: 50%;
}
#pebbles{
  color: #212529;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 300;
}
.four-img{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 70px;
  padding-left: 70px;
}
.section-4{
  height: 70vh;
  padding-bottom: 0px;
}
.section-5{
height: 40vh;
padding-bottom: 0px;
padding-left: 110px;
margin-bottom: 0px;
}
.my-md-5{
  margin-bottom: 0px !important;
  width: 100vw;
}
.footer-last{
  display: grid;
  grid-template-columns: 2fr repeat(3,1fr);
}